{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Registro {% endblock %}

{% block registration %}

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Registrarse</button>
  </form>

<p><a href="{% url 'custom_login' %}">Accede si ya estas registrado.</a></p>

{% endblock %}

{% block registration_complete %}
{% endblock %}

{% block registration_closed %}
{% endblock %}

<!--comprobar con javascript y ajax que el usuario y el correo no este registrado ya-->
