{% extends 'home.html' %}
{% load staticfiles %}

{% block payment_checkout %}

  <form action="" method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key= {{ stripe_key }}
      data-amount="9"
      data-name="Demo Site"
      data-description="Example charge"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-locale="auto"
      data-currency="eur">
    </script>
    {{ payment_checkout_form.as_p }}
    <input type="submit" value="Realizar pago."/>
</form>

{% endblock %}
