{% extends 'shop.html' %}
{% load staticfiles %}

{% block product_list %}

  {% include 'shop_filter.html' %}

  <p>Categorías</p>
  <ul>
    {% for category in categories %}
      <li><a href="{% url 'shop:product_list_category' shop_category_slug=category.slug %}">{{ category.name}}</a></li>
    {% endfor %}
  </ul>
  <hr>
  <p>Productos</p>
  {% for product in products %}

    <p><a href="{% url 'shop:product_detail' product_slug=product.slug %}">{{ product.name}}</a></p>
    <p>{{ product.description }}</p>
    <p>{{ product.stock }}</p>
    <p>{{ product.price }}</p>
    <hr>

    <form action="{% url 'shop:shoppingcart_add' product_id=product.id %}" method="POST">
      {% csrf_token %}
      {{ shoppingcart_form.as_p }}
      <input type="submit" value="Añadir al carrito.">
    </form>
    <hr>
  {% endfor %}

{% endblock %}
